# Output files from replay_to_map.py
*_locations.json
*_map.png

# Replay input files / Intermediate JSON output from ReplayToJson.exe
replay*.json
UnsavedReplay*.json
*.replay

# User-specific params
user_params.json

# Working files
Working/

# C# build artifacts
ReplayToJson/bin/
ReplayToJson/obj/

# Python
__pycache__/
*.pyc
